/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada'); */

*{
  font-family: Montserrat, sans-serif;
}

.logo-image {
  max-height: 64px;
  padding: 3px 0px;
}

.smaller {
  font-size: 1.2rem;
}

#orange-cube {
  background-image: url('../images/orange-cube.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-card {
  position: relative;
  height: 500px;
}

.about-content {
  position: absolute;
  bottom: 160px;
  width: 90%;
  text-align: center;
  line-height: 1;
}

.intro {
  font-size: 2.5rem;
}

.intro-name {
  font-size: 4rem;
  font-weight: bolder;
}

.align-arrow {
  position: absolute;
  top: 50%;
}

.arrow-icon {
  position: relative;
  top: -20px;
  font-size: 40px;
  color: #e4e9eb;
  background-color: #1e4757;
  border-radius: 50%;
}

.arrow-icon.left {
  left: 3px;
}

.arrow-con.right {
  left: -3px;
}

#nextfit {
  width: 75%;
  max-height: 90%;
}
