/* For use in app/styles/color-palette.scss */
$midnight-blue: (
  'base' : #022938,
  'lighten-5' : #e1e5e7,
  'lighten-4' : #b3bfc3,
  'lighten-3' : #81949c,
  'lighten-2' : #4e6974,
  'lighten-1' : #284956,
  'darken-1' : #022432,
  'darken-2' : #011f2b,
  'darken-3' : #011924,
  'darken-4' : #010f17,
  'accent-1' : #57abff,
  'accent-2' : #2491ff,
  'accent-3' : #0078f0,
  'accent-4' : #006bd6,
);

$slate-blue: (
  'base' : #1e4757,
  'lighten-5' : #e4e9eb,
  'lighten-4' : #bcc8cd,
  'lighten-3' : #8fa3ab,
  'lighten-2' : #627e89,
  'lighten-1' : #406370,
  'darken-1' : #1a404f,
  'darken-2' : #163746,
  'darken-3' : #122f3c,
  'darken-4' : #0a202c,
  'accent-1' : #68c5ff,
  'accent-2' : #35b1ff,
  'accent-3' : #029eff,
  'accent-4' : #008ee7,
);

$burnt-orange: (
  'base' : #d34900,
  'lighten-5' : #fae9e0,
  'lighten-4' : #f2c8b3,
  'lighten-3' : #e9a480,
  'lighten-2' : #e0804d,
  'lighten-1' : #da6426,
  'darken-1' : #ce4200,
  'darken-2' : #c83900,
  'darken-3' : #c23100,
  'darken-4' : #b72100,
  'accent-1' : #ffe4e0,
  'accent-2' : #ffb7ad,
  'accent-3' : #ff8a7a,
  'accent-4' : #ff7361,
);

$light-orange: (
  'base' : #ffc05e,
  'lighten-5' : #fff7ec,
  'lighten-4' : #ffeccf,
  'lighten-3' : #ffe0af,
  'lighten-2' : #ffd38e,
  'lighten-1' : #ffc976,
  'darken-1' : #ffba56,
  'darken-2' : #ffb24c,
  'darken-3' : #ffaa42,
  'darken-4' : #ff9c31,
  'accent-1' : #ffffff,
  'accent-2' : #ffffff,
  'accent-3' : #ffeddc,
  'accent-4' : #ffe1c3,
);

$dark-orange: (
  'base' : #df5800,
  'lighten-5' : #fbebe0,
  'lighten-4' : #f5cdb3,
  'lighten-3' : #efac80,
  'lighten-2' : #e98a4d,
  'lighten-1' : #e47126,
  'darken-1' : #db5000,
  'darken-2' : #d74700,
  'darken-3' : #d23d00,
  'darken-4' : #ca2d00,
  'accent-1' : #fff4f2,
  'accent-2' : #ffc9bf,
  'accent-3' : #ff9e8c,
  'accent-4' : #ff8873,
);
